@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

color-scheme: dark;
--toastify-color-light: #fff;
--toastify-color-dark: #121212;
--toastify-color-info: #3498db;
--toastify-color-success: #07bc0c;
--toastify-color-warning: #f1c40f;
--toastify-color-error: #e74c3c;
--toastify-color-transparent: hsla(0,0%,100%,.7);
--toastify-icon-color-info: var(--toastify-color-info);
--toastify-icon-color-success: var(--toastify-color-success);
--toastify-icon-color-warning: var(--toastify-color-warning);
--toastify-icon-color-error: var(--toastify-color-error);
--toastify-toast-width: 320px;
--toastify-toast-background: #fff;
--toastify-toast-min-height: 64px;
--toastify-toast-max-height: 800px;
--toastify-font-family: sans-serif;
--toastify-text-color-light: #757575;
--toastify-text-color-dark: #fff;
--toastify-text-color-info: #fff;
--toastify-text-color-success: #fff;
--toastify-text-color-warning: #fff;
--toastify-text-color-error: #fff;
--toastify-spinner-color: #616161;
--toastify-spinner-color-empty-area: #e0e0e0;
--toastify-color-progress-dark: #bb86fc;
--toastify-color-progress-info: var(--toastify-color-info);
--toastify-color-progress-success: var(--toastify-color-success);
--toastify-color-progress-warning: var(--toastify-color-warning);
--toastify-color-progress-error: var(--toastify-color-error);
--toastify-z-index: 100;
--toastify-color-progress-light: #F2F2F2;
-webkit-font-smoothing: antialiased;
color: #fff;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-pan-x: ;
--tw-pan-y: ;
--tw-pinch-zoom: ;
--tw-scroll-snap-strictness: proximity;
--tw-gradient-from-position: ;
--tw-gradient-via-position: ;
--tw-gradient-to-position: ;
--tw-ordinal: ;
--tw-slashed-zero: ;
--tw-numeric-figure: ;
--tw-numeric-spacing: ;
--tw-numeric-fraction: ;
--tw-ring-inset: ;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgba(59,130,246,.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
--tw-blur: ;
--tw-brightness: ;
--tw-contrast: ;
--tw-grayscale: ;
--tw-hue-rotate: ;
--tw-invert: ;
--tw-saturate: ;
--tw-sepia: ;
--tw-drop-shadow: ;
--tw-backdrop-blur: ;
--tw-backdrop-brightness: ;
--tw-backdrop-contrast: ;
--tw-backdrop-grayscale: ;
--tw-backdrop-hue-rotate: ;
--tw-backdrop-invert: ;
--tw-backdrop-opacity: ;
--tw-backdrop-saturate: ;
--tw-backdrop-sepia: ;
--tw-contain-size: ;
--tw-contain-layout: ;
--tw-contain-paint: ;
--tw-contain-style: ;
margin: 0;
font-weight: 400;
font-family: "Roboto Mono", monospace;
font-size: 12px;
line-height: 16px;
height: 32px;
display: flex;
-webkit-box-align: center;
align-items: center;
border-top: 1px solid rgb(39, 39, 39);
overflow: hidden;
position: relative;
padding-left: 10%;
text-transform: uppercase;
border-bottom: none;
margin-top: 106px;


.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 50px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.icon {
  position: absolute;
  top: 50%;
  width: 100px;
  height: 5px;
  background: white;
  animation: stretch 2s ease-in-out 0s infinite;
}

.icon:before {
  content: '';
  position: absolute;
  top: -25px;
  left: 0px;
  width: 100px;
  height: 5px;
  background: white;
  animation: stretch 2s ease-in-out 1s infinite;
}

.icon:after {
  content: '';
  position: absolute;
  top: 25px;
  left: 0px;
  width: 100px;
  height: 5px;
  background: white;
  animation: stretch 2s ease-in-out 1.5s infinite;
}

@keyframes stretch {
  0% {
    width: 100px;
    
  }
  
  50% {
    width: 50px;
  }

  100% {
    width: 100px;
  }
}

.xed {
  position: absolute;
  top: 50%;
  width: 100px;
  height: 5px;
  background: white;
  animation: xed-middle 1s ease-in-out forwards;
}

.xed:before {
  content: '';
  position: absolute;
  top: -25px;
  left: 0px;
  width: 100px;
  height: 5px;
  background: white;
  animation: xed-top 1s ease-in-out forwards;
}

.xed:after {
  content: '';
  position: absolute;
  opacity: 1;
  top: 25px;
  left: 0px;
  width: 100px;
  height: 5px;
  background: white;
  animation: xed-bottom 1s ease-in-out forwards;
}

@keyframes xed-top {
  0% {
    width: 100px;
  }
  
  100% {
    width: 68px;
    left: 25px;
    transform-origin: top left;
    transform: rotate(45deg);
  }
}

@keyframes xed-bottom {
  0% {
    width: 100px;
  }
  
  100% {
    width: 68px;
    top: 23px;
    left: 23px;
    transform-origin: top left;
    transform: rotate(-45deg);
  }
}

@keyframes xed-middle {
  0% {
    width: 100px;
  }
  
  100% {
    width: 0px;
    background: transparent;
  }
}

.scrollbar:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(-270deg, rgb(10, 10, 10) 55%, rgba(10, 10, 10, 0.01) 100%);
}

.scrollbar:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgb(10, 10, 10) 55%, rgba(10, 10, 10, 0.01) 100%);
}

.scrollbar {
  display: inline-flex;
  font-family: "Roboto Mono", monospace;
  font-size: 10px;
  animation: scroll-animation 20s linear infinite;
  gap: 6px;
  position: relative;
}

.menuText {
  font-size: 11px;
  color: #5E5E5E;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .1);
  transition: all .24s cubic-bezier(0.25,0.46,0.45,0.94);
  position: relative;
  padding-bottom: 2px;
  gap: 4px;
}

.navItemHover,
.subnavItemHover {
  position: relative;
  z-index: 1;
  display: flex;
  border: none !important;
  color: #f4f4f4;
}

.navItemHover::after,
.subnavItemHover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  transition: all 0.2s ease;
  border: none !important;
  opacity: 0;
}

.navItemHover:hover::after,
.subnavItemHover:hover::after,
.navItemHover[data-active="true"]::after,
.subnavItemHover[data-active="true"]::after {
  width: 100%;
  opacity: 1;
}

.navItemHover:hover,
.subnavItemHover:hover,
.navItemHover[data-active="true"],
.subnavItemHover[data-active="true"] {
  border: 1px solid #CFFF3D !important;
}

.scrollbanner {
    font-weight: 400;
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    line-height: 16px;
    height: 32px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-top: 1px solid rgb(39, 39, 39);
    overflow: hidden;
    position: relative;
    padding-left: 10%;
    margin-top: 106px;
    text-transform: uppercase;
    border-bottom: none;
}

/* Add keyframes for the scrolling animation */
@keyframes scroll-animation {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}