.quest-hero {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  width: 100%;
  height: 25vh; /* Adjust the height as needed */
  border-bottom: inset 1px #242424;
}

.quest-image {
  max-width: 100%;
  height: auto;
  border-bottom: inset 1px #242424;
  background-image: url("/quests.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
