@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 4%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 100%;

    --primary: 78 100% 54%;
    --primary-foreground: 0 0% 4%;

    --secondary: 0 0% 4%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 14%;
    --muted-foreground: 0 0% 63%;

    --accent: 0 0% 14%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 14%;
    --input: 0 0% 14%;
    --ring: 78 100% 54%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    cursor: none;
  }
}

/* Add these styles to your existing global.css file */

.circle {
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 10px white;
    pointer-events: none;
    position: fixed;
    top: -10rem;
    left: -10rem;
    height: 2rem;
    width: 2rem;
    transition: transform 0.4s, background 0.4s;
}

.circle.big {
    background: white;
    transform: scale(2);
}